body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.game-container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
}

.mejoras {
    margin-top: 20px;
}

#mensajeFinal {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}