form {
    position: absolute;
    margin-top: 500px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color: white;
    border: 2px solid black;
    border-radius: 50px;
    padding: 50px;
    z-index: 1;
}

form label {
    align-self: flex-start;
}

form button {
    padding: 10px 30px 10px 30px;
    align-self: center;
    background-color: #26c85f;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 650;
}

form button:hover {
    background-color: #3be477;
    scale: calc(1.1);
}

form input {
    margin-bottom: 20px;
}